/* * SELECTORS */
/* selector: {
    property: value
} */

/* * Universal Selector */
/* * {
    color: orange;
} */

/* * Type/Element Selector */
p {
    color: black;
    font-size: 16px;
}

hr {
    border-top: 1px dashed #b1e5f2;
  }


/* * ID Selector */
#deal-of-the-week {
    background-color: lightsalmon;
    color: darkred;
}


/* * Class Selector */
.deal-of-the-day {
    background-color: lightblue;
    color: blue;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.menu-square {
    width: 10px; margin-left: 10px;
}

.week-background {
    background-color: lightsalmon;
}

.day-background {
    background-color: lightblue
}


/* * Descendant Selector */
ol li  {
    color: black;
    letter-spacing: 3px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 16px;
}


/* * Even More Specific Descendant Selector */
footer #alert h1 {
    background-color: lightyellow;
}


/* * Pseudo Classes */
ol li:hover {
    background-color: lime;
}

/* * ---------------- */





